In [6]:
a = [10,40,60,20,30]
a.sort()
print(a)
a.sort(reverse = True)
print(a)

[10, 20, 30, 40, 60]
[60, 40, 30, 20, 10]

In [12]:
a = ['ab', 'abc', 'AB', 'bc', 'Ab']
a.sort()
print(a)

['AB', 'Ab', 'ab', 'abc', 'bc']

In [5]:
# sorted
a = ('ab', 'abc', 'AB', 'bc', 'Ab')
for data in sorted(a):
    print(data)

print(sorted(a))

AB
Ab
ab
abc
bc
['AB', 'Ab', 'ab', 'abc', 'bc']

## Sorting Tuples

In [17]:
a = [('krishna' , 35, 55000), 
     ('stephe'  , 16, 61000), 
     ('harshita', 26, 57000), 
     ('gaurav'  , 18, 78000)]

In [23]:
a = [('krishna' , 35, 55000), 
     ('stephe'  , 16, 61000), 
     ('harshita', 26, 57000), 
     ('gaurav'  , 18, 78000)]
a.sort()
for data in a:
    print(data)

('gaurav', 18, 78000)
('harshita', 26, 57000)
('krishna', 35, 55000)
('stephe', 16, 61000)

In [24]:
a = [('krishna' , 35, 55000), 
     ('stephe'  , 16, 61000), 
     ('harshita', 26, 57000), 
     ('gaurav'  , 18, 78000)]

a.sort(key = lambda x: x[1])
for data in a:
    print(data)

('stephe', 16, 61000)
('gaurav', 18, 78000)
('harshita', 26, 57000)
('krishna', 35, 55000)

In [47]:
# Decorate-Sort-Undecorate
a = [('krishna' , 35, 55000), 
     ('stephe'  , 16, 61000), 
     ('harshita', 26, 57000), 
     ('gaurav'  , 18, 78000)]

# since sorting in tuples by default happens on first element and so on
# create a new mapping and sort it
temp = [ (data[1], data) for data in a ]
temp.sort()
for data in temp:
    print(data)

# get sorted data from the temp copy
a = [ data[1] for data in temp]
for data in a:
    print(data)

(16, ('stephe', 16, 61000))
(18, ('gaurav', 18, 78000))
(26, ('harshita', 26, 57000))
(35, ('krishna', 35, 55000))
('stephe', 16, 61000)
('gaurav', 18, 78000)
('harshita', 26, 57000)
('krishna', 35, 55000)

## Sorting class Objects

In [35]:
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    
    def __str__(self):
        return "Name-{:10} Age-{} Sal-{}>".format(self.name, self.age, self.salary)
    def __repr__(self):
        return self.__str__()

a = [Employee('krishna' , 35, 55000), 
     Employee('stephe'  , 16, 61000), 
     Employee('harshita', 26, 57000), 
     Employee('gaurav'  , 18, 78000)]
for e in a:
    print(e)

Name-krishna    Age-35 Sal-55000>
Name-stephe     Age-16 Sal-61000>
Name-harshita   Age-26 Sal-57000>
Name-gaurav     Age-18 Sal-78000>

In [36]:
a = [Employee('krishna' , 35, 55000), 
     Employee('stephe'  , 16, 61000), 
     Employee('harshita', 26, 57000), 
     Employee('gaurav'  , 18, 78000)]

a.sort()

TypeError: '<' not supported between instances of 'Employee' and 'Employee'

In [37]:
e1 = Employee('krishna' , 35, 55000)
e2 = Employee('stephe'  , 16, 61000)
e1 < e2

TypeError: '<' not supported between instances of 'Employee' and 'Employee'

In [39]:
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    
    def __str__(self):
        return "Name-{:10} Age-{} Sal-{}>".format(self.name, self.age, self.salary)
    def __repr__(self):
        return self.__str__()
    
    def __lt__(self, other):
        return self.name < other.name

e1 = Employee('krishna' , 35, 55000)
e2 = Employee('stephe'  , 16, 61000)
print(e1 < e2)

True

In [40]:
a = [Employee('krishna' , 35, 55000), 
     Employee('stephe'  , 16, 61000), 
     Employee('harshita', 26, 57000), 
     Employee('gaurav'  , 18, 78000)]

a.sort()
for e in a:
    print(e)

Name-gaurav     Age-18 Sal-78000>
Name-harshita   Age-26 Sal-57000>
Name-krishna    Age-35 Sal-55000>
Name-stephe     Age-16 Sal-61000>

In [41]:
a = [Employee('krishna' , 35, 55000), 
     Employee('stephe'  , 16, 61000), 
     Employee('harshita', 26, 57000), 
     Employee('gaurav'  , 18, 78000)]

a.sort(key = lambda e: e.salary)
for e in a:
    print(e)

Name-krishna    Age-35 Sal-55000>
Name-harshita   Age-26 Sal-57000>
Name-stephe     Age-16 Sal-61000>
Name-gaurav     Age-18 Sal-78000>

In [46]:
from operator import attrgetter, itemgetter
t = ('krishna' , 35, 55000)
e = Employee('krishna' , 35, 55000)

tf = itemgetter(1)
print('From tuple: ', tf(t))

ef = attrgetter('age')
print('From Employee Object: ', ef(e))

From tuple:  35
From Employee Object:  35

In [48]:
a = [('krishna' , 35, 55000), 
     ('stephe'  , 16, 61000), 
     ('harshita', 26, 57000), 
     ('gaurav'  , 18, 78000)]

a.sort(key = itemgetter(1))
for data in a:
    print(data)

('stephe', 16, 61000)
('gaurav', 18, 78000)
('harshita', 26, 57000)
('krishna', 35, 55000)

In [49]:
a = [Employee('krishna' , 35, 55000), 
     Employee('stephe'  , 16, 61000), 
     Employee('harshita', 26, 57000), 
     Employee('gaurav'  , 18, 78000)]

a.sort(key = attrgetter('age'))
for e in a:
    print(e)

Name-stephe     Age-16 Sal-61000>
Name-gaurav     Age-18 Sal-78000>
Name-harshita   Age-26 Sal-57000>
Name-krishna    Age-35 Sal-55000>